<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=com.nit"/>
        <listEntry value="artifactId=MavenProj1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.nit"/>
        <listEntry value="outputDirectory=G:\Java Real Time Project @ 7_00 AM _ Mr.Nataraj [27-03-2023]-20241012T072113Z-001\Maven"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\ANUJ\AppData\Local\Temp\m2e-archetypeGenerator7058415765059596988"/>
</launchConfiguration>
